<%- include('../partials/nav') %>

<div class="container-md">
    <ul>
        <% parks.forEach(park => {%>
            <li>
                <a href="/parks/<%= park._id %>">
                    <%= park.name %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include('../partials/footer') %>